{% extends 'admin_dashboard.html' %}
{% block style %}
#colleges {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #colleges td, #colleges th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #colleges tr:nth-child(even){background-color: #f2f2f2;}
  
  #colleges tr:hover {background-color: #ddd;}
  
  #colleges th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
{% endblock style %}
{% block body %}
<div class="report-header">
    <h1 class="recent-Articles">Reqested Colleges</h1>
</div>
        
<div style="overflow-x:auto;">
     {% if applicant %} 
    <table id="colleges">
       <tr>
           <th>College Name</th>                      
           <th>Place</th>
           <th>Pincode</th>
           <th>College Strength</th>
           <th>Inauguration Date</th>
           <th>NAAC Grade</th>
           <th>Principal No.</th> 
           <th>Adress</th>
           <th>Course</th>
           <th>Photo</th>
           <th colspan='2'>Action</th>
           
       </tr>
           {% for apl in applicant  %}
               <tr>
                <td>{{ apl.username }}</td>
                <td>{{ apl.place }}</td>
                <td>{{ apl.pincode }}</td>
                <td>{{ apl.college_strength }}</td>
                <td>{{ apl.inaugration_date }}</td>
                <td>{{ apl.naac_grade }}</td>
                <td>{{ apl.principal_phone }}</td>
                <td>{{ apl.address }}</td>
                <td>{{ apl.courses_available }}</td>
                <td><a href="{{ apl.photo.url }}">{{ apl.photo }}</a></td>

                   {% comment %} <td>{{ apl.std.phone_number }}</td>
                   <td>{{ apl.std.sslc_percentage }}</td>
                   <td>{{ apl.std.puc_percentage }}</td>
                   <td>{{ apl.std.selected_course }}</td>
                   <td><a href="{{apl.std.photo.url}}">{{ apl.std.photo }}</a></td>  
                   <td>{{ apl.date }}</td> {% endcomment %}
                   
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="accept" value="{{ apl.id }}">
                    <td><input type="submit" value="accept"></td>
                </form>
                <form action="" method="POST">
                    {% csrf_token %}                            
                    <input type="hidden" name="reject" value="{{ apl.id }}">
                    <td><input type="submit" value="reject"></td>
                </form>
                   
               </tr>
           {% endfor %}
           
    </table>
</div>
    {% else %}
no request..
     {% endif %} 



{% endblock body %}